h1 {
    text-align: center;
}

.button {
    background-color: unset;
    cursor: pointer;
    border: unset;
    padding: 0px;
    background: linear-gradient(rgb(225, 225, 225) 0%, rgb(238, 238, 238) 100%);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    padding: 6px;
    }

.button:hover {
    box-shadow: 1px 2px 4px rgba(0,0,0,.5)
}

.button:active {
    box-shadow: none
}
.tab {margin-bottom :60px}
